In [116]:
#Install package pandas profiling to the visualizations
!pip install pandas-profiling

Requirement already satisfied: pandas-profiling in c:\users\rebec\anaconda3\lib\site-packages (2.11.0)
Requirement already satisfied: tqdm>=4.48.2 in c:\users\rebec\anaconda3\lib\site-packages (from pandas-profiling) (4.60.0)
Requirement already satisfied: seaborn>=0.10.1 in c:\users\rebec\anaconda3\lib\site-packages (from pandas-profiling) (0.10.1)
Requirement already satisfied: pandas!=1.0.0,!=1.0.1,!=1.0.2,!=1.1.0,>=0.25.3 in c:\users\rebec\anaconda3\lib\site-packages (from pandas-profiling) (1.0.5)
Requirement already satisfied: joblib in c:\users\rebec\anaconda3\lib\site-packages (from pandas-profiling) (0.16.0)
Requirement already satisfied: matplotlib>=3.2.0 in c:\users\rebec\anaconda3\lib\site-packages (from pandas-profiling) (3.2.2)
Requirement already satisfied: ipywidgets>=7.5.1 in c:\users\rebec\anaconda3\lib\site-packages (from pandas-profiling) (7.5.1)
Requirement already satisfied: jinja2>=2.11.1 in c:\users\rebec\anaconda3\lib\site-packages (from pandas-profiling) (2.11.2)
Requirement already satisfied: scipy>=1.4.1 in c:\users\rebec\anaconda3\lib\site-packages (from pandas-profiling) (1.5.0)
Requirement already satisfied: tangled-up-in-unicode>=0.0.6 in c:\users\rebec\anaconda3\lib\site-packages (from pandas-profiling) (0.0.6)
Requirement already satisfied: missingno>=0.4.2 in c:\users\rebec\anaconda3\lib\site-packages (from pandas-profiling) (0.4.2)
Requirement already satisfied: htmlmin>=0.1.12 in c:\users\rebec\anaconda3\lib\site-packages (from pandas-profiling) (0.1.12)
Requirement already satisfied: numpy>=1.16.0 in c:\users\rebec\anaconda3\lib\site-packages (from pandas-profiling) (1.18.5)
Requirement already satisfied: phik>=0.10.0 in c:\users\rebec\anaconda3\lib\site-packages (from pandas-profiling) (0.10.0)
Requirement already satisfied: requests>=2.24.0 in c:\users\rebec\anaconda3\lib\site-packages (from pandas-profiling) (2.24.0)
Requirement already satisfied: attrs>=19.3.0 in c:\users\rebec\anaconda3\lib\site-packages (from pandas-profiling) (19.3.0)
Requirement already satisfied: confuse>=1.0.0 in c:\users\rebec\anaconda3\lib\site-packages (from pandas-profiling) (1.4.0)
Requirement already satisfied: visions[type_image_path]==0.6.0 in c:\users\rebec\anaconda3\lib\site-packages (from pandas-profiling) (0.6.0)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\rebec\anaconda3\lib\site-packages (from pandas!=1.0.0,!=1.0.1,!=1.0.2,!=1.1.0,>=0.25.3->pandas-profiling) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in c:\users\rebec\anaconda3\lib\site-packages (from pandas!=1.0.0,!=1.0.1,!=1.0.2,!=1.1.0,>=0.25.3->pandas-profiling) (2020.1)
Requirement already satisfied: cycler>=0.10 in c:\users\rebec\anaconda3\lib\site-packages (from matplotlib>=3.2.0->pandas-profiling) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in c:\users\rebec\anaconda3\lib\site-packages (from matplotlib>=3.2.0->pandas-profiling) (2.4.7)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\rebec\anaconda3\lib\site-packages (from matplotlib>=3.2.0->pandas-profiling) (1.2.0)
Requirement already satisfied: ipython>=4.0.0; python_version >= "3.3" in c:\users\rebec\anaconda3\lib\site-packages (from ipywidgets>=7.5.1->pandas-profiling) (7.16.1)
Requirement already satisfied: ipykernel>=4.5.1 in c:\users\rebec\anaconda3\lib\site-packages (from ipywidgets>=7.5.1->pandas-profiling) (5.3.2)
Requirement already satisfied: traitlets>=4.3.1 in c:\users\rebec\anaconda3\lib\site-packages (from ipywidgets>=7.5.1->pandas-profiling) (4.3.3)
Requirement already satisfied: widgetsnbextension~=3.5.0 in c:\users\rebec\anaconda3\lib\site-packages (from ipywidgets>=7.5.1->pandas-profiling) (3.5.1)
Requirement already satisfied: nbformat>=4.2.0 in c:\users\rebec\anaconda3\lib\site-packages (from ipywidgets>=7.5.1->pandas-profiling) (5.0.7)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\rebec\anaconda3\lib\site-packages (from jinja2>=2.11.1->pandas-profiling) (1.1.1)
Requirement already satisfied: numba>=0.38.1 in c:\users\rebec\anaconda3\lib\site-packages (from phik>=0.10.0->pandas-profiling) (0.50.1)
Requirement already satisfied: idna<3,>=2.5 in c:\users\rebec\anaconda3\lib\site-packages (from requests>=2.24.0->pandas-profiling) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\rebec\anaconda3\lib\site-packages (from requests>=2.24.0->pandas-profiling) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\rebec\anaconda3\lib\site-packages (from requests>=2.24.0->pandas-profiling) (1.25.9)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\rebec\anaconda3\lib\site-packages (from requests>=2.24.0->pandas-profiling) (2020.12.5)
Requirement already satisfied: pyyaml in c:\users\rebec\anaconda3\lib\site-packages (from confuse>=1.0.0->pandas-profiling) (5.3.1)
Requirement already satisfied: networkx>=2.4 in c:\users\rebec\anaconda3\lib\site-packages (from visions[type_image_path]==0.6.0->pandas-profiling) (2.4)
Requirement already satisfied: imagehash; extra == "type_image_path" in c:\users\rebec\anaconda3\lib\site-packages (from visions[type_image_path]==0.6.0->pandas-profiling) (4.2.0)
Requirement already satisfied: Pillow; extra == "type_image_path" in c:\users\rebec\anaconda3\lib\site-packages (from visions[type_image_path]==0.6.0->pandas-profiling) (7.2.0)
Requirement already satisfied: six>=1.5 in c:\users\rebec\anaconda3\lib\site-packages (from python-dateutil>=2.6.1->pandas!=1.0.0,!=1.0.1,!=1.0.2,!=1.1.0,>=0.25.3->pandas-profiling) (1.15.0)
Requirement already satisfied: backcall in c:\users\rebec\anaconda3\lib\site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.5.1->pandas-profiling) (0.2.0)
Requirement already satisfied: colorama; sys_platform == "win32" in c:\users\rebec\anaconda3\lib\site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.5.1->pandas-profiling) (0.4.3)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\rebec\anaconda3\lib\site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.5.1->pandas-profiling) (2.0.10)
Requirement already satisfied: pickleshare in c:\users\rebec\anaconda3\lib\site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.5.1->pandas-profiling) (0.7.5)
Requirement already satisfied: jedi>=0.10 in c:\users\rebec\anaconda3\lib\site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.5.1->pandas-profiling) (0.17.1)
Requirement already satisfied: pygments in c:\users\rebec\anaconda3\lib\site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.5.1->pandas-profiling) (2.6.1)
Requirement already satisfied: setuptools>=18.5 in c:\users\rebec\anaconda3\lib\site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.5.1->pandas-profiling) (49.2.0.post20200714)
Requirement already satisfied: decorator in c:\users\rebec\anaconda3\lib\site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.5.1->pandas-profiling) (4.4.2)
Requirement already satisfied: tornado>=4.2 in c:\users\rebec\anaconda3\lib\site-packages (from ipykernel>=4.5.1->ipywidgets>=7.5.1->pandas-profiling) (6.0.4)
Requirement already satisfied: jupyter-client in c:\users\rebec\anaconda3\lib\site-packages (from ipykernel>=4.5.1->ipywidgets>=7.5.1->pandas-profiling) (6.1.6)
Requirement already satisfied: ipython-genutils in c:\users\rebec\anaconda3\lib\site-packages (from traitlets>=4.3.1->ipywidgets>=7.5.1->pandas-profiling) (0.2.0)
Requirement already satisfied: notebook>=4.4.1 in c:\users\rebec\anaconda3\lib\site-packages (from widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling) (6.0.3)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in c:\users\rebec\anaconda3\lib\site-packages (from nbformat>=4.2.0->ipywidgets>=7.5.1->pandas-profiling) (3.2.0)
Requirement already satisfied: jupyter-core in c:\users\rebec\anaconda3\lib\site-packages (from nbformat>=4.2.0->ipywidgets>=7.5.1->pandas-profiling) (4.6.3)
Requirement already satisfied: llvmlite<0.34,>=0.33.0.dev0 in c:\users\rebec\anaconda3\lib\site-packages (from numba>=0.38.1->phik>=0.10.0->pandas-profiling) (0.33.0+1.g022ab0f)
Requirement already satisfied: PyWavelets in c:\users\rebec\anaconda3\lib\site-packages (from imagehash; extra == "type_image_path"->visions[type_image_path]==0.6.0->pandas-profiling) (1.1.1)
Requirement already satisfied: wcwidth in c:\users\rebec\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.5.1->pandas-profiling) (0.2.5)
Requirement already satisfied: parso<0.8.0,>=0.7.0 in c:\users\rebec\anaconda3\lib\site-packages (from jedi>=0.10->ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.5.1->pandas-profiling) (0.7.0)
Requirement already satisfied: pyzmq>=13 in c:\users\rebec\anaconda3\lib\site-packages (from jupyter-client->ipykernel>=4.5.1->ipywidgets>=7.5.1->pandas-profiling) (19.0.1)
Requirement already satisfied: Send2Trash in c:\users\rebec\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling) (1.5.0)
Requirement already satisfied: prometheus-client in c:\users\rebec\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling) (0.8.0)
Requirement already satisfied: terminado>=0.8.1 in c:\users\rebec\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling) (0.8.3)
Requirement already satisfied: nbconvert in c:\users\rebec\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling) (5.6.1)
Requirement already satisfied: pyrsistent>=0.14.0 in c:\users\rebec\anaconda3\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets>=7.5.1->pandas-profiling) (0.16.0)
Requirement already satisfied: pywin32>=1.0; sys_platform == "win32" in c:\users\rebec\anaconda3\lib\site-packages (from jupyter-core->nbformat>=4.2.0->ipywidgets>=7.5.1->pandas-profiling) (227)
Requirement already satisfied: entrypoints>=0.2.2 in c:\users\rebec\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling) (0.3)
Requirement already satisfied: pandocfilters>=1.4.1 in c:\users\rebec\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling) (1.4.2)
Requirement already satisfied: mistune<2,>=0.8.1 in c:\users\rebec\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling) (0.8.4)
Requirement already satisfied: bleach in c:\users\rebec\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling) (3.1.5)
Requirement already satisfied: defusedxml in c:\users\rebec\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling) (0.6.0)
Requirement already satisfied: testpath in c:\users\rebec\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling) (0.4.4)
Requirement already satisfied: webencodings in c:\users\rebec\anaconda3\lib\site-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling) (0.5.1)
Requirement already satisfied: packaging in c:\users\rebec\anaconda3\lib\site-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling) (20.4)

WARNING: You are using pip version 20.2.4; however, version 25.0.1 is available.
You should consider upgrading via the 'C:\Users\rebec\anaconda3\python.exe -m pip install --upgrade pip' command.

In [117]:
#Install package to import dataset in excel file
!pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\rebec\anaconda3\lib\site-packages (3.0.4)
Requirement already satisfied: et-xmlfile in c:\users\rebec\anaconda3\lib\site-packages (from openpyxl) (1.0.1)
Requirement already satisfied: jdcal in c:\users\rebec\anaconda3\lib\site-packages (from openpyxl) (1.4.1)

WARNING: You are using pip version 20.2.4; however, version 25.0.1 is available.
You should consider upgrading via the 'C:\Users\rebec\anaconda3\python.exe -m pip install --upgrade pip' command.

In [118]:
#Install package to run Phik correlation
!pip install phik==0.10.0

Requirement already satisfied: phik==0.10.0 in c:\users\rebec\anaconda3\lib\site-packages (0.10.0)
Requirement already satisfied: joblib>=0.14.1 in c:\users\rebec\anaconda3\lib\site-packages (from phik==0.10.0) (0.16.0)
Requirement already satisfied: pandas>=0.23.4 in c:\users\rebec\anaconda3\lib\site-packages (from phik==0.10.0) (1.0.5)
Requirement already satisfied: matplotlib>=2.2.3 in c:\users\rebec\anaconda3\lib\site-packages (from phik==0.10.0) (3.2.2)
Requirement already satisfied: scipy>=1.1.0 in c:\users\rebec\anaconda3\lib\site-packages (from phik==0.10.0) (1.5.0)
Requirement already satisfied: numba>=0.38.1 in c:\users\rebec\anaconda3\lib\site-packages (from phik==0.10.0) (0.50.1)
Requirement already satisfied: numpy>=1.15.4 in c:\users\rebec\anaconda3\lib\site-packages (from phik==0.10.0) (1.18.5)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\rebec\anaconda3\lib\site-packages (from pandas>=0.23.4->phik==0.10.0) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in c:\users\rebec\anaconda3\lib\site-packages (from pandas>=0.23.4->phik==0.10.0) (2020.1)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\rebec\anaconda3\lib\site-packages (from matplotlib>=2.2.3->phik==0.10.0) (1.2.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in c:\users\rebec\anaconda3\lib\site-packages (from matplotlib>=2.2.3->phik==0.10.0) (2.4.7)
Requirement already satisfied: cycler>=0.10 in c:\users\rebec\anaconda3\lib\site-packages (from matplotlib>=2.2.3->phik==0.10.0) (0.10.0)
Requirement already satisfied: llvmlite<0.34,>=0.33.0.dev0 in c:\users\rebec\anaconda3\lib\site-packages (from numba>=0.38.1->phik==0.10.0) (0.33.0+1.g022ab0f)
Requirement already satisfied: setuptools in c:\users\rebec\anaconda3\lib\site-packages (from numba>=0.38.1->phik==0.10.0) (49.2.0.post20200714)
Requirement already satisfied: six>=1.5 in c:\users\rebec\anaconda3\lib\site-packages (from python-dateutil>=2.6.1->pandas>=0.23.4->phik==0.10.0) (1.15.0)

WARNING: You are using pip version 20.2.4; however, version 25.0.1 is available.
You should consider upgrading via the 'C:\Users\rebec\anaconda3\python.exe -m pip install --upgrade pip' command.

In [119]:
#IMPORT LIBRARIES
import sqlite3
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import seaborn as sns
from datetime import datetime as dt
from sklearn.impute import KNNImputer
from sklearn.cluster import KMeans, AgglomerativeClustering, MeanShift, DBSCAN, estimate_bandwidth
from sklearn.decomposition import PCA
from sklearn.preprocessing import MinMaxScaler, StandardScaler, OneHotEncoder, LabelEncoder, RobustScaler
from itertools import product
from math import ceil
from scipy.cluster.hierarchy import dendrogram
%matplotlib inline
from pandas_profiling import ProfileReport 
%config InlineBackend.figure_format = 'retina' 
from scipy.stats import iqr as IQR
from collections import Counter

from sklearn.base import clone
from sklearn.neighbors import NearestNeighbors
from sklearn.metrics import silhouette_score, silhouette_samples, davies_bouldin_score
import phik
import matplotlib.cm as cm
from sklearn.manifold import TSNE

#outliers detection
from scipy import stats
from sklearn.neighbors import LocalOutlierFactor
from sklearn import svm
from sklearn.ensemble import IsolationForest
from sklearn.tree import DecisionTreeClassifier

from os.path import join


from sklearn.metrics import pairwise_distances

from sklearn.model_selection import train_test_split

import warnings
warnings.filterwarnings("ignore")

# Seeting seaborn style
sns.set()

In [120]:
#import dataset
df = pd.read_csv(r'C:\Users\rebec\Downloads\data.csv\data.csv', encoding='latin1')
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [121]:
# First look at the dataframe
df.head()

  InvoiceNo StockCode                          Description  Quantity     InvoiceDate  UnitPrice  CustomerID         Country
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6  12/1/2010 8:26       2.55     17850.0  United Kingdom
1    536365     71053                  WHITE METAL LANTERN         6  12/1/2010 8:26       3.39     17850.0  United Kingdom
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8  12/1/2010 8:26       2.75     17850.0  United Kingdom
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6  12/1/2010 8:26       3.39     17850.0  United Kingdom
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6  12/1/2010 8:26       3.39     17850.0  United Kingdom

In [122]:
#first look at dataframe
df.tail()

       InvoiceNo StockCode                      Description  Quantity      InvoiceDate  UnitPrice  CustomerID Country
541904    581587     22613      PACK OF 20 SPACEBOY NAPKINS        12  12/9/2011 12:50       0.85     12680.0  France
541905    581587     22899     CHILDREN'S APRON DOLLY GIRL          6  12/9/2011 12:50       2.10     12680.0  France
541906    581587     23254    CHILDRENS CUTLERY DOLLY GIRL          4  12/9/2011 12:50       4.15     12680.0  France
541907    581587     23255  CHILDRENS CUTLERY CIRCUS PARADE         4  12/9/2011 12:50       4.15     12680.0  France
541908    581587     22138    BAKING SET 9 PIECE RETROSPOT          3  12/9/2011 12:50       4.95     12680.0  France

In [123]:
# Data types and null values verification
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

In [124]:
# Replace possible empty values with NaN
df.replace("", np.nan, inplace=True)

# Function to show missing values and their percentages
def missing_data(df):
    l = []
    for col in df.columns:
        missing = df[col].isnull().sum(axis=0)
        percentage = missing/df.shape[0]
        l.append([col,missing,percentage*100])
        df_missing = pd.DataFrame(l, columns = ['Feature','missing','percentage'])
        df_missing = df_missing.sort_values('missing',axis=0, ascending = False)    
    return df_missing

In [125]:
# Check the percentage of missing values
df_missing = missing_data(df)
df_missing = df_missing[df_missing['missing']>0]
df_missing

       Feature  missing  percentage
6   CustomerID   135080   24.926694
2  Description     1454    0.268311

In [126]:
#removing the null from feature description as <1%
df.dropna(subset=['Description'], inplace= True)

In [127]:
df['Description'].isnull().sum()

0

In [128]:
# Define non-metric features
non_metric_features = ['InvoiceNo','StockCode','Description','InvoiceDate','CustomerID','Country']

#make a df copy
df1=df.copy()

# Define metric features
metric_features = df1.columns.drop(non_metric_features).to_list()

In [129]:
metric_features

['Quantity', 'UnitPrice']

In [130]:
df

       InvoiceNo StockCode                          Description  Quantity      InvoiceDate  UnitPrice  CustomerID         Country
0         536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6   12/1/2010 8:26       2.55     17850.0  United Kingdom
1         536365     71053                  WHITE METAL LANTERN         6   12/1/2010 8:26       3.39     17850.0  United Kingdom
2         536365    84406B       CREAM CUPID HEARTS COAT HANGER         8   12/1/2010 8:26       2.75     17850.0  United Kingdom
3         536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6   12/1/2010 8:26       3.39     17850.0  United Kingdom
4         536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6   12/1/2010 8:26       3.39     17850.0  United Kingdom
...          ...       ...                                  ...       ...              ...        ...         ...             ...
541904    581587     22613          PACK OF 20 SPACEBOY NAPKINS        12  12/9/2011 12:50       0.85     12680.0          France
541905    581587     22899         CHILDREN'S APRON DOLLY GIRL          6  12/9/2011 12:50       2.10     12680.0          France
541906    581587     23254        CHILDRENS CUTLERY DOLLY GIRL          4  12/9/2011 12:50       4.15     12680.0          France
541907    581587     23255      CHILDRENS CUTLERY CIRCUS PARADE         4  12/9/2011 12:50       4.15     12680.0          France
541908    581587     22138        BAKING SET 9 PIECE RETROSPOT          3  12/9/2011 12:50       4.95     12680.0          France

[540455 rows x 8 columns]

In [131]:
df['TotalPrice'] = df['Quantity']*df['UnitPrice']
df

       InvoiceNo StockCode                          Description  Quantity      InvoiceDate  UnitPrice  CustomerID         Country  TotalPrice
0         536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6   12/1/2010 8:26       2.55     17850.0  United Kingdom       15.30
1         536365     71053                  WHITE METAL LANTERN         6   12/1/2010 8:26       3.39     17850.0  United Kingdom       20.34
2         536365    84406B       CREAM CUPID HEARTS COAT HANGER         8   12/1/2010 8:26       2.75     17850.0  United Kingdom       22.00
3         536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6   12/1/2010 8:26       3.39     17850.0  United Kingdom       20.34
4         536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6   12/1/2010 8:26       3.39     17850.0  United Kingdom       20.34
...          ...       ...                                  ...       ...              ...        ...         ...             ...         ...
541904    581587     22613          PACK OF 20 SPACEBOY NAPKINS        12  12/9/2011 12:50       0.85     12680.0          France       10.20
541905    581587     22899         CHILDREN'S APRON DOLLY GIRL          6  12/9/2011 12:50       2.10     12680.0          France       12.60
541906    581587     23254        CHILDRENS CUTLERY DOLLY GIRL          4  12/9/2011 12:50       4.15     12680.0          France       16.60
541907    581587     23255      CHILDRENS CUTLERY CIRCUS PARADE         4  12/9/2011 12:50       4.15     12680.0          France       16.60
541908    581587     22138        BAKING SET 9 PIECE RETROSPOT          3  12/9/2011 12:50       4.95     12680.0          France       14.85

[540455 rows x 9 columns]

In [132]:
df.dtypes

InvoiceNo       object
StockCode       object
Description     object
Quantity         int64
InvoiceDate     object
UnitPrice      float64
CustomerID     float64
Country         object
TotalPrice     float64
dtype: object

In [133]:
df.apply(lambda col: col.map(type).nunique())

InvoiceNo      1
StockCode      1
Description    1
Quantity       1
InvoiceDate    1
UnitPrice      1
CustomerID     1
Country        1
TotalPrice     1
dtype: int64

In [134]:
df['InvoiceNo'].unique()[:1000]

array(['536365', '536366', '536367', '536368', '536369', '536370',
       '536371', '536372', '536373', '536374', '536375', '536376',
       '536377', '536378', '536380', '536381', 'C536379', '536382',
       'C536383', '536384', '536385', '536386', '536387', '536388',
       '536389', '536390', 'C536391', '536392', '536393', '536394',
       '536395', '536396', '536397', '536398', '536399', '536400',
       '536401', '536402', '536403', '536404', '536405', '536406',
       '536407', '536408', '536409', '536412', '536415', '536416',
       '536420', '536423', '536425', '536437', '536446', '536460',
       '536463', '536464', '536466', '536477', '536488', '536500',
       '536502', '536508', 'C536506', '536514', '536520', '536521',
       '536522', '536523', '536524', '536525', '536526', '536527',
       '536528', '536529', '536530', '536531', '536532', '536533',
       '536534', '536535', '536536', '536537', '536538', '536539',
       '536540', '536541', '536542', 'C536543', '536544', 'C536548',
       '536551', '536555', '536556', '536557', '536558', '536559',
       '536560', '536561', '536562', '536563', '536564', '536565',
       '536566', '536567', '536568', '536569', '536570', '536571',
       '536572', '536573', '536574', '536575', '536576', '536577',
       '536578', '536579', '536580', '536581', '536582', '536583',
       '536584', '536585', '536586', '536587', '536588', '536590',
       '536591', '536592', '536593', '536594', '536595', '536596',
       '536597', '536598', '536599', '536600', '536601', '536602',
       '536603', '536604', '536605', 'C536606', '536607', '536608',
       '536609', '536610', '536611', '536612', '536613', '536614',
       '536615', '536616', '536617', '536618', '536619', '536620',
       '536621', 'C536622', '536623', '536624', '536626', 'C536625',
       '536627', '536628', '536629', '536630', '536631', '536632',
       '536633', '536634', '536635', '536636', '536637', '536638',
       '536639', '536640', '536641', 'C536642', '536643', '536663',
       '536667', '536670', '536671', '536672', '536673', '536674',
       '536676', '536681', '536685', '536688', '536690', '536693',
       '536698', '536707', '536732', '536733', 'C536734', '536735',
       '536736', 'C536737', '536738', '536739', '536740', '536741',
       '536742', '536743', '536744', '536745', '536746', '536747',
       '536748', '536749', '536750', '536751', '536752', '536753',
       '536754', '536755', '536756', 'C536757', 'C536758', '536759',
       'C536760', '536761', '536762', '536763', '536769', '536771',
       '536777', '536778', '536779', '536780', '536781', '536782',
       '536783', '536784', '536785', '536786', '536787', '536788',
       '536789', '536790', '536791', '536792', '536793', '536794',
       '536795', '536796', '536797', '536798', '536799', '536800',
       '536801', '536802', '536803', '536804', '536805', '536806',
       'C536807', '536808', '536809', '536810', '536811', 'C536812',
       '536813', 'C536814', 'C536815', 'C536816', 'C536817', 'C536818',
       '536819', 'C536820', '536821', 'C536822', '536823', '536824',
       'C536825', 'C536826', 'C536827', 'C536828', 'C536829', '536830',
       '536831', '536832', '536833', '536834', '536835', '536836',
       '536837', '536838', '536839', '536840', '536841', '536842',
       '536843', '536844', '536845', '536846', '536847', '536848',
       '536849', 'C536850', '536851', '536852', 'C536853', 'C536854',
       'C536855', '536856', '536857', '536858', '536859', '536860',
       '536861', '536862', '536863', '536864', '536865', '536866',
       '536874', '536876', '536883', '536884', '536885', '536890',
       '536920', '536938', '536941', '536942', '536943', '536944',
       '536945', '536946', '536947', '536954', '536956', '536957',
       '536960', '536967', '536968', '536969', '536970', '536971',
       '536972', '536973', '536974', '536975', '536976', '536977',
       'C536978', 'C536979', '536980', '536981', '536982', '536983',
       '536984', '536985', '536986', '536987', '536988', '536989',
       '536990', '536991', '536992', '536993', '536994', '537022',
       '537023', '537025', 'C537024', '537026', '537030', '537031',
       '537032', '537034', '537035', '537036', '537037', '537038',
       'C537039', '537040', '537041', '537042', 'C537043', '537044',
       '537045', '537046', '537047', '537048', '537049', '537050',
       '537051', '537052', '537053', '537054', '537055', '537057',
       '537058', '537059', '537065', '537067', '537077', '537081',
       '537086', '537090', '537111', '537117', '537126', '537127',
       '537128', '537129', '537130', '537131', '537133', 'C537132',
       '537134', '537135', '537136', '537137', '537138', '537139',
       '537140', '537141', '537142', 'C537143', '537144', '537153',
       '537154', '537155', '537156', 'C537157', '537158', '537159',
       '537160', '537163', 'C537164', '537176', '537179', '537192',
       '537193', '537194', '537195', '537196', '537197', '537198',
       '537199', '537200', '537201', '537202', 'C537203', '537204',
       '537205', '537206', '537207', '537208', '537209', '537210',
       '537211', '537212', '537213', '537214', '537215', '537216',
       '537217', '537218', '537219', '537220', '537221', '537222',
       '537223', '537224', '537225', '537226', '537227', '537228',
       '537229', '537230', '537231', 'C537232', '537233', 'C537234',
       '537235', '537236', '537237', '537238', '537239', '537240',
       '537241', '537242', '537243', '537244', '537245', '537246',
       '537247', '537248', '537249', '537250', 'C537251', '537252',
       '537253', '537254', '537255', '537256', '537257', '537258',
       '537262', '537265', '537298', '537301', '537312', '537313',
       'C537314', 'C537320', '537332', 'C537333', '537334', '537335',
       '537346', '537350', '537351', '537354', '537359', '537360',
       '537362', '537365', '537366', '537367', '537368', '537369',
       '537370', '537371', '537372', '537374', '537375', 'C537373',
       '537376', '537377', '537378', '537380', 'C537379', '537381',
       '537382', 'C537383', '537384', '537385', '537386', '537387',
       '537388', '537389', '537390', '537391', '537392', '537393',
       '537394', '537395', '537396', '537397', 'C537398', '537399',
       '537400', '537403', 'C537402', '537404', '537405', 'C537406',
       '537407', 'C537408', '537409', '537410', '537411', '537412',
       'C537413', '537415', 'C537414', 'C537416', 'C537417', '537418',
       '537419', '537420', '537421', '537422', '537423', '537424',
       '537425', '537426', '537428', '537429', '537432', 'C537431',
       '537433', '537434', '537435', '537440', '537441', '537442',
       'C537444', 'C537445', '537446', '537447', '537448', '537456',
       '537457', '537458', '537459', '537460', '537461', '537462',
       '537463', '537464', '537465', '537467', '537468', '537469',
       '537470', '537471', '537472', '537476', '537484', '537489',
       '537509', '537523', 'C537530', '537534', '537538', '537567',
       'C537572', 'C537581', '537592', '537593', '537594', '537595',
       'C537596', 'C537597', '537598', '537599', 'C537600', '537601',
       'C537602', '537603', '537604', '537605', '537606', '537607',
       '537608', '537609', 'C537610', 'C537611', '537612', 'C537613',
       '537614', '537615', '537616', '537617', '537618', '537619',
       '537620', '537621', '537622', '537623', '537624', '537625',
       '537626', '537627', '537628', '537629', '537631', 'C537630',
       '537632', '537633', '537634', '537635', '537636', '537637',
       '537638', '537639', '537640', '537641', '537642', '537643',
       '537645', 'C537644', '537646', 'C537647', '537648', '537649',
       '537650', 'C537651', 'C537652', '537653', '537654', '537655',
       'C537656', '537657', '537658', '537659', '537664', '537665',
       '537666', '537667', '537668', '537669', '537670', '537671',
       '537672', '537673', '537674', '537675', '537676', 'C537677',
       '537678', '537679', '537680', '537681', '537682', '537683',
       'C537684', '537685', '537686', '537688', '537689', '537690',
       '537691', '537692', '537693', '537694', '537698', '537700',
       '537707', '537738', '537743', 'C537746', '537751', '537754',
       '537755', 'C537756', '537757', '537758', '537759', '537760',
       '537761', '537762', 'C537763', '537764', '537765', '537766',
       '537767', '537768', '537769', '537770', '537771', '537772',
       '537773', '537774', '537775', '537780', '537781', '537789',
       'C537788', '537791', '537792', '537793', '537794', '537795',
       '537796', '537799', 'C537797', 'C537798', '537800', '537801',
       '537802', '537803', '537804', 'C537805', '537806', '537808',
       'C537807', '537809', '537810', '537811', 'C537812', '537813',
       'C537814', '537815', '537816', '537817', '537818', '537819',
       'C537820', 'C537821', '537822', '537823', 'C537824', '537825',
       '537826', '537827', '537828', '537829', '537830', '537831',
       'C537832', '537833', 'C537834', 'C537835', '537836', '537837',
       'C537838', '537839', '537840', '537841', '537842', '537843',
       '537844', '537845', '537846', '537847', '537848', '537849',
       '537850', '537851', '537852', 'C537853', '537854', '537855',
       'C537856', 'C537857', '537858', '537859', 'C537860', '537861',
       '537862', '537863', '537864', '537865', '537866', '537867',
       '537868', '537871', '537879', '537880', '537881', '537882',
       '537883', '537884', '537885', '537886', '537887', '537888',
       '537889', '537890', '537891', '537892', 'C537893', '537894',
       '537895', '537896', '537897', '537898', '537899', '537900',
       '537901', '537915', '537955', '537963', '537967', '537981',
       '537995', 'C537998', '538000', '538002', '538003', '538005',
       '538006', '538007', '538008', '538009', '538010', '538011',
       '538012', '538013', '538014', '538015', '538032', '538035',
       '538037', '538040', '538044', '538048', '538049', '538050',
       '538051', 'C538052', '538053', '538056', '538057', 'C538059',
       '538060', 'C538062', '538063', '538064', '538065', 'C538066',
       '538067', '538068', '538069', '538070', '538071', '538072',
       '538073', 'C538075', '538076', '538077', '538078', '538079',
       '538080', 'C538081', 'C538082', 'C538083', 'C538084', 'C538085',
       '538086', '538087', 'C538088', 'C538089', '538090', 'C538091',
       '538093', '538094', '538095', '538096', '538097', 'C538098',
       'C538099', 'C538100', '538101', 'C538102', 'C538103', '538104',
       'C538105', '538106', '538107', '538108', 'C538109', 'C538110',
       'C538111', 'C538112', '538113', 'C538114', 'C538115', '538116',
       '538117', 'C538118', 'C538119', '538120', 'C538121', 'C538122',
       'C538123', 'C538124', '538125', '538126', '538127', '538145',
       '538146', '538147', '538148', '538149', '538151', '538153',
       '538154', '538155', '538156', '538157', '538161', '538162',
       '538163', 'C538164', '538165', '538166', '538167', '538168',
       '538169', '538170', '538171', '538172', '538174', '538175',
       '538176', '538177', '538178', '538179', '538180', '538181',
       '538182', '538183', '538184', '538185', '538186', '538187',
       '538188', 'C538189', '538190', '538191'], dtype=object)

In [135]:
#create 1 dataset for RFM analysis:
df_rfm =df.copy()

#create 1 dataset for general analysis
df_general = df.copy()

**RFM analysis**

In [136]:
df_rfm.dropna(subset=['CustomerID'], inplace= True)

In [137]:
df_rfm['InvoiceDate'] = pd.to_datetime(df_rfm['InvoiceDate'])
df_rfm

       InvoiceNo StockCode                          Description  Quantity         InvoiceDate  UnitPrice  CustomerID         Country  TotalPrice
0         536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6 2010-12-01 08:26:00       2.55     17850.0  United Kingdom       15.30
1         536365     71053                  WHITE METAL LANTERN         6 2010-12-01 08:26:00       3.39     17850.0  United Kingdom       20.34
2         536365    84406B       CREAM CUPID HEARTS COAT HANGER         8 2010-12-01 08:26:00       2.75     17850.0  United Kingdom       22.00
3         536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6 2010-12-01 08:26:00       3.39     17850.0  United Kingdom       20.34
4         536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6 2010-12-01 08:26:00       3.39     17850.0  United Kingdom       20.34
...          ...       ...                                  ...       ...                 ...        ...         ...             ...         ...
541904    581587     22613          PACK OF 20 SPACEBOY NAPKINS        12 2011-12-09 12:50:00       0.85     12680.0          France       10.20
541905    581587     22899         CHILDREN'S APRON DOLLY GIRL          6 2011-12-09 12:50:00       2.10     12680.0          France       12.60
541906    581587     23254        CHILDRENS CUTLERY DOLLY GIRL          4 2011-12-09 12:50:00       4.15     12680.0          France       16.60
541907    581587     23255      CHILDRENS CUTLERY CIRCUS PARADE         4 2011-12-09 12:50:00       4.15     12680.0          France       16.60
541908    581587     22138        BAKING SET 9 PIECE RETROSPOT          3 2011-12-09 12:50:00       4.95     12680.0          France       14.85

[406829 rows x 9 columns]

In [138]:
df_rfm['CustomerID'].isnull().sum()

0

In [139]:
reference_date = df_rfm['InvoiceDate'].max() + pd.Timedelta(days=1)
reference_date

Timestamp('2011-12-10 12:50:00')

In [140]:
df_rfm.sample()

       InvoiceNo StockCode                    Description  Quantity         InvoiceDate  UnitPrice  CustomerID         Country  TotalPrice
155790    550015     21558  SKULL LUNCH BOX WITH CUTLERY          6 2011-04-14 10:54:00       2.55     17735.0  United Kingdom        15.3

In [141]:
df_rfm['InvoiceNo'].dtype

dtype('O')

In [142]:
df_rfm['InvoiceNo'] = df_rfm['InvoiceNo'].astype(str)

In [143]:
df_rfm[df_rfm['InvoiceNo'].str.startswith('C')]

       InvoiceNo StockCode                       Description  Quantity         InvoiceDate  UnitPrice  CustomerID         Country  TotalPrice
141      C536379         D                          Discount        -1 2010-12-01 09:41:00      27.50     14527.0  United Kingdom      -27.50
154      C536383    35004C   SET OF 3 COLOURED  FLYING DUCKS        -1 2010-12-01 09:49:00       4.65     15311.0  United Kingdom       -4.65
235      C536391     22556    PLASTERS IN TIN CIRCUS PARADE        -12 2010-12-01 10:24:00       1.65     17548.0  United Kingdom      -19.80
236      C536391     21984  PACK OF 12 PINK PAISLEY TISSUES        -24 2010-12-01 10:24:00       0.29     17548.0  United Kingdom       -6.96
237      C536391     21983  PACK OF 12 BLUE PAISLEY TISSUES        -24 2010-12-01 10:24:00       0.29     17548.0  United Kingdom       -6.96
...          ...       ...                               ...       ...                 ...        ...         ...             ...         ...
540449   C581490     23144   ZINC T-LIGHT HOLDER STARS SMALL       -11 2011-12-09 09:57:00       0.83     14397.0  United Kingdom       -9.13
541541   C581499         M                            Manual        -1 2011-12-09 10:28:00     224.69     15498.0  United Kingdom     -224.69
541715   C581568     21258        VICTORIAN SEWING BOX LARGE        -5 2011-12-09 11:57:00      10.95     15311.0  United Kingdom      -54.75
541716   C581569     84978  HANGING HEART JAR T-LIGHT HOLDER        -1 2011-12-09 11:58:00       1.25     17315.0  United Kingdom       -1.25
541717   C581569     20979     36 PENCILS TUBE RED RETROSPOT        -5 2011-12-09 11:58:00       1.25     17315.0  United Kingdom       -6.25

[8905 rows x 9 columns]

In [144]:
df_rfm_2 = df_rfm.copy()

In [145]:
#removing the invoice that starts with C
df_rfm_2 = df_rfm_2[~df_rfm_2['InvoiceNo'].str.startswith('C')]
df_rfm_2

       InvoiceNo StockCode                          Description  Quantity         InvoiceDate  UnitPrice  CustomerID         Country  TotalPrice
0         536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6 2010-12-01 08:26:00       2.55     17850.0  United Kingdom       15.30
1         536365     71053                  WHITE METAL LANTERN         6 2010-12-01 08:26:00       3.39     17850.0  United Kingdom       20.34
2         536365    84406B       CREAM CUPID HEARTS COAT HANGER         8 2010-12-01 08:26:00       2.75     17850.0  United Kingdom       22.00
3         536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6 2010-12-01 08:26:00       3.39     17850.0  United Kingdom       20.34
4         536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6 2010-12-01 08:26:00       3.39     17850.0  United Kingdom       20.34
...          ...       ...                                  ...       ...                 ...        ...         ...             ...         ...
541904    581587     22613          PACK OF 20 SPACEBOY NAPKINS        12 2011-12-09 12:50:00       0.85     12680.0          France       10.20
541905    581587     22899         CHILDREN'S APRON DOLLY GIRL          6 2011-12-09 12:50:00       2.10     12680.0          France       12.60
541906    581587     23254        CHILDRENS CUTLERY DOLLY GIRL          4 2011-12-09 12:50:00       4.15     12680.0          France       16.60
541907    581587     23255      CHILDRENS CUTLERY CIRCUS PARADE         4 2011-12-09 12:50:00       4.15     12680.0          France       16.60
541908    581587     22138        BAKING SET 9 PIECE RETROSPOT          3 2011-12-09 12:50:00       4.95     12680.0          France       14.85

[397924 rows x 9 columns]

In [146]:
df_rfm_2['InvoiceNo'].str.startswith('C').sum()

0

In [147]:
df_rfm_2

       InvoiceNo StockCode                          Description  Quantity         InvoiceDate  UnitPrice  CustomerID         Country  TotalPrice
0         536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6 2010-12-01 08:26:00       2.55     17850.0  United Kingdom       15.30
1         536365     71053                  WHITE METAL LANTERN         6 2010-12-01 08:26:00       3.39     17850.0  United Kingdom       20.34
2         536365    84406B       CREAM CUPID HEARTS COAT HANGER         8 2010-12-01 08:26:00       2.75     17850.0  United Kingdom       22.00
3         536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6 2010-12-01 08:26:00       3.39     17850.0  United Kingdom       20.34
4         536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6 2010-12-01 08:26:00       3.39     17850.0  United Kingdom       20.34
...          ...       ...                                  ...       ...                 ...        ...         ...             ...         ...
541904    581587     22613          PACK OF 20 SPACEBOY NAPKINS        12 2011-12-09 12:50:00       0.85     12680.0          France       10.20
541905    581587     22899         CHILDREN'S APRON DOLLY GIRL          6 2011-12-09 12:50:00       2.10     12680.0          France       12.60
541906    581587     23254        CHILDRENS CUTLERY DOLLY GIRL          4 2011-12-09 12:50:00       4.15     12680.0          France       16.60
541907    581587     23255      CHILDRENS CUTLERY CIRCUS PARADE         4 2011-12-09 12:50:00       4.15     12680.0          France       16.60
541908    581587     22138        BAKING SET 9 PIECE RETROSPOT          3 2011-12-09 12:50:00       4.95     12680.0          France       14.85

[397924 rows x 9 columns]

In [148]:
df_rfm_2['CustomerID'].nunique()

4339

In [149]:
df_rfm_2['InvoiceDate'] = pd.to_datetime(df_rfm_2['InvoiceDate'])

In [161]:
reference_date_2 = df_rfm_2['InvoiceDate'].max() + pd.Timedelta(days=1)
reference_date_2

Timestamp('2011-12-10 12:50:00')

In [160]:
last_buy = df_rfm_2.groupby('CustomerID')['InvoiceDate'].max().reset_index()
last_buy

      CustomerID         InvoiceDate
0        12346.0 2011-01-18 10:01:00
1        12347.0 2011-12-07 15:52:00
2        12348.0 2011-09-25 13:13:00
3        12349.0 2011-11-21 09:51:00
4        12350.0 2011-02-02 16:01:00
...          ...                 ...
4334     18280.0 2011-03-07 09:52:00
4335     18281.0 2011-06-12 10:53:00
4336     18282.0 2011-12-02 11:43:00
4337     18283.0 2011-12-06 12:02:00
4338     18287.0 2011-10-28 09:29:00

[4339 rows x 2 columns]

In [162]:
df_rfm_2['Recency'] = reference_date_2 - last_buy
df_rfm_2

TypeError: unsupported operand type(s) for -: 'Timestamp' and 'float'